<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mes, {{primeiro}}</h2>
    <hr>
    <h2>ultimo dia do mes, {{ultimo_dia}}</h2>
    <hr>
    <h2>Proximo mes, {{proximo}}</h2>
    <hr>
    <h2>lista de dias, {{lista}}</h2>
    <hr>
    <h2>lista de dias pares {{dias_pares}}</h2>
    <hr>
    <h2>lista de dias impares {{dias_impares}}</h2>

</body>
</html>